## .NET
# User-specific files
.vs/
.vscode/
.idea/

# Build results
bin/
obj/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
*.vspscc
*.vssscc

# User-specific files (Windows)
Thumbs.db
Desktop.ini

# Windows Installer files
*.pdb
*.mdb
